<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
  <head th:include="layout :: htmlhead"></head>
  <body>
    <nav th:replace="layout :: menu">(menu)</nav>
    <main class="container">
      <form th:action="@{/notasfiscal}" method="POST" th:object="${notafiscal}">
        <input type="hidden" th:field="*{cdNotaFiscal}" />

        <div class="my-3 form-group">
          <div class="row">
            <div class="col">
              <label for="txtNumeroPedido">Numero do Pedido</label>
              <input
                type="number"
                class="form-control"
                th:field="*{numeroPedido}"
                id="txtNumeroPedido"
              />
            </div>
            <div class="col">
              <label for="txtDataFaturamento">Data do Faturamento</label>
              <input
                type="date"
                class="form-control"
                th:field="*{dataFaturamento}"
                id="txtDataFaturamento"
              />
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="txtEnderecosRemetente">Rementente</label>
              <select
                class="form-select"
                th:field="*{enderecoRemetente}"
              >
                <option
                  th:each="Enderecores : ${endereco}"
                  th:value="${Enderecores.cdEnderecoEntrega}"
                  th:text="${Enderecores.nomeDestinatario}"
                ></option>
              </select>
            </div>
            <div class="col">
              <label for="txtEnderecosDestinatario"> Destinatário</label>
              <select
                class="form-select"
                th:field="*{enderecoDestinatario}"
              >
                <option
                  th:each="Enderecodes : ${endereco}"
                  th:value="${Enderecodes.cdEnderecoEntrega}"
                  th:text="${Enderecodes.nomeDestinatario}"
                ></option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="cliente">Cliente Destinatario</label>
              <select
                class="form-select"
                th:field="*{cliente}"
              >
                <option
                  th:each="cliente : ${cliente}"
                  th:value="${cliente.codCliente}"
                  th:name="${cliente.nomeCliente}"
                ></option>
              </select>
            </div>
          </div>
        </div>
           

        <div class="form-group my-3">
          <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
      </form>
    </main>
    <div th:include="layout :: footer">(footer)</div>
  </body>
</html>
