<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
  <head th:include="layout :: htmlhead"></head>
  <body>
    <nav th:replace="layout :: menu">(menu)</nav>
    <main class="container">
      <div
      id="toast-container"
      aria-live="polite"
      aria-atomic="true"
      class="position-absolute end-0 bottom-0"
    >
      <div class="toast-container top-0 end-0 p-3">
        <div
          class="toast align-items-center text-white bg-danger border-0"
          role="alert"
          aria-live="assertive"
          aria-atomic="true"
        >
          <div class="d-flex">
            <div class="toast-body">
              <span th:text="${excecao}"></span>
            </div>
            <button
              type="button"
              class="btn-close btn-close-white me-2 m-auto"
              data-bs-dismiss="toast"
              aria-label="Close"
            ></button>
          </div>
        </div>
      </div>
    </div>

      <form th:action="@{/notasfiscal}" method="POST" th:object="${notafiscal}"  class="text-center">
        <input type="hidden" th:field="*{cdNotaFiscal}" />
        <h3 style="padding-top: 10px;">Cadastro de Nota Fiscal</h3>

        <div class="my-3 form-group">
          <div class="row">
            <div class="col">
              <label for="txtNumeroPedido">Numero do Pedido</label>
              <input
                type="number"
                class="form-control"
                th:field="*{numeroPedido}"
                id="txtNumeroPedido"
              />
            </div>
            <div class="col">
              <label for="txtDataFaturamento">Data do Faturamento</label>
              <input
                type="date"
                class="form-control"
                th:field="*{dataFaturamento}"
                id="txtDataFaturamento"
              />
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="txtEnderecosRemetente">Rementente</label>
              <select
                class="form-select"
                th:field="*{clienteRemetente}"
              >
                <option
                  th:each="ClienteReme : ${listaClientes}"
                  th:value="${ClienteReme.cdCliente}"
                  th:text="${ClienteReme.nomeCliente}"
                ></option>
              </select>
            </div>
            <div class="col">
              <label for="txtEnderecosDestinatario"> Destinatário</label>
              <select
                class="form-select"
                th:field="*{clienteDestinatario}"
              >
                <option
                  th:each="clienteDest : ${listaClientes}"
                  th:value="${clienteDest.cdCliente}"
                  th:text="${clienteDest.nomeCliente}"
                ></option>
              </select>
            </div>
          </div>
         
        </div>
           

        <div class="form-group my-3">
          <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
      </form>
    </main>
    <div th:include="layout :: footer">(footer)</div>
  </body>
</html>

<script th:if="${not #strings.isEmpty(excecao)}">
  // JavaScript para ativar o Toast se houver uma mensagem de erro
  document.addEventListener("DOMContentLoaded", function () {
    var myToast = new bootstrap.Toast(document.querySelector(".toast"));
    myToast.show();
  });
 
</script>