<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <head th:include="layout :: htmlhead"></head>
  <body>
    <nav th:replace="layout :: menu">(menu)</nav>
    <main class="container">
      <div
        id="toast-container"
        aria-live="polite"
        aria-atomic="true"
        class="position-absolute end-0 bottom-0"
      >
        <div class="toast-container top-0 end-0 p-3">
          <div
            class="toast align-items-center text-white bg-danger border-0"
            role="alert"
            aria-live="assertive"
            aria-atomic="true"
          >
            <div class="d-flex">
              <div class="toast-body">
                <span th:text="${excecao}"></span>
              </div>
              <button
                type="button"
                class="btn-close btn-close-white me-2 m-auto"
                data-bs-dismiss="toast"
                aria-label="Close"
              ></button>
            </div>
          </div>
        </div>
      </div>


      <form
        th:action="@{/enderecosentrega}"
        method="POST"
        th:object="${enderecoEntrega}"
        class="text-center"
      >
        <input type="hidden" th:field="*{cdEnderecoEntrega}"  />
        <h3 style="padding-top: 10px;">Cadastro do Endereço</h3>

        <div class="my-3 form-group">
          <div class="row">
            <div class="col">
              <label for="txtNomeDestinatario">Nome do Destinatario</label>
              <input
                type="text"
                class="form-control"
                th:field="*{nomeDestinatario}"
                id="txtNomeDestinatario"
              />
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="txtPais">País</label>
              <input
                type="text"
                class="form-control"
                th:field="*{pais}"
                id="txtPais"
              />
            </div>
            <div class="col">
              <label for="txtEstado">Estado</label>
              <input
                type="text"
                class="form-control"
                th:field="*{estado}"
                id="txtEstado"
              />
            </div>
            <div class="col">
              <label for="txtCidade">Cidade</label>
              <input
                type="text"
                class="form-control"
                th:field="*{cidade}"
                id="txtCidade"
              />
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="txtBairro">Bairro</label>
              <input
                type="text"
                class="form-control"
                th:field="*{bairro}"
                id="txtBairro"
              />
            </div>
            <div class="col">
              <label for="txtRua">Rua</label>
              <input
                type="text"
                class="form-control"
                th:field="*{rua}"
                id="txtRua"
              />
            </div>
            <div class="col">
              <label for="txtCep">CEP</label>
              <input
                type="number"
                class="form-control"
                th:field="*{cep}"
                id="txtCep"
              />
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="txtNumero">Numero</label>
              <input
                type="number"
                class="form-control"
                th:field="*{numero}"
                id="txtNumero"
              />
            </div>
            <div class="col">
              <label for="txtComplemento">Complemento</label>
              <input
                type="text"
                class="form-control"
                th:field="*{complemento}"
                id="txtComplemento"
              />
            </div>
            <div class="col">
              <label for="txtInstrucoesEntrega">Instruções de Entrega</label>
              <input
                type="text"
                class="form-control"
                th:field="*{instrucoesEntrega}"
                id="txtInstrucoesEntrega"
              />
            </div>
          </div>
        </div>

        <div class="form-group my-3">
          <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
      </form>
    </main>
    <div th:include="layout :: footer">(footer)</div>
  </body>
</html>

<script th:if="${not #strings.isEmpty(excecao)}">
  // JavaScript para ativar o Toast se houver uma mensagem de erro
  document.addEventListener("DOMContentLoaded", function () {
    var myToast = new bootstrap.Toast(document.querySelector(".toast"));
    myToast.show();
  });
 
</script>