<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
  <head th:include="layout :: htmlhead"></head>
  <body>
    <nav th:replace="layout :: menu">(menu)</nav>
    <main>
      <div class="container">
        <h1>Endereço</h1>
        <hr />
        <a th:href="@{enderecosentrega/novo}" class="btn btn-dark">Novo</a>
        <div class="table-responsive">
        <table class="table table-hover table-bordered my-2" id="tabendereco">
          <tread>
            <tr class="table-dark text-center">
              <th>Código</th>

              <th>Nome Destinatario</th>

              <th>País </th>

              <th>Estado</th>

              <th>Ciade</th>

              <th>Bairro</th>
              
              <th>Rua</th>

              <th>Cep</th>

              <th>Numero</th>

              <th>Complemento</th>

              <th>Instrucoes de Entrega</th>
              
              <th>Alterar</th>

              <th>Excluir</th>

            </tr>
            <tbody>
              <tr class="text-center" th:each="umEndereco : ${listaEnderecoEntrega}">
                <td th:text="${umEndereco.cdEnderecoEntrega}"></td>
                <td th:text="${umEndereco.nomeDestinatario}"></td>
                <td th:text="${umEndereco.pais}"></td>
                <td th:text="${umEndereco.estado}"></td>
                <td th:text="${umEndereco.cidade}"></td>
                <td th:text="${umEndereco.bairro}"></td>
                <td th:text="${umEndereco.rua}"></td>
                <td th:text="${umEndereco.cep}"></td>
                <td th:text="${umEndereco.numero}"></td>
                <td th:text="${umEndereco.complemento}"></td>
                <td th:text="${umEndereco.instrucoesEntrega}"></td>

                <td>
                  <a
                    class="btn btn-primary"
                    th:href="@{'/enderecosentrega/alterar/' + ${umEndereco.cdEnderecoEntrega}}"
                    >Alterar</a
                  >
                 
                </td>
                <td>
                  <button
                    th:data-id="${umEndereco.cdEnderecoEntrega}"
                    class="btn btn-danger js-delete"
                  >
                    Excluir
                  </button>
                </td>
              </tr>
            </tbody>
          </tread>
        </table>
      </div>
      </div>
    </main>

    <div class="modal" tabindex="-1" id="modalEndereco">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Excluir Endereço</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <p>Confirma a exclusão do endereço?</p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Não
            </button>
            <button type="button" class="btn btn-primary" id="btnsim">
              Sim
            </button>
          </div>
        </div>
      </div>
    </div>

    <div th:include="layout :: footer">(footer)</div>
    <script th:src="@{/script.js}"></script>
  </body>
</html>
