<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
  <head th:include="layout :: htmlhead"></head>
  <body>
    <nav th:replace="layout :: menu">(menu)</nav>
    <main class="container">
      <form
        th:action="@{/fornecedores}"
        method="POST"
        th:object="${fornecedor}"
      >
        <input type="hidden" th:field="*{cdFornecedor}" />

        <div class="my-3 form-group">
          <div class="row">
            <div class="col">
              <label for="txtNomeFornecedor">Nome do Fornecedor</label>
              <input
                type="text"
                class="form-control"
                aria-label="Nome do Fornecedor"
                th:field="*{nomeFornecedor}"
                id="txtNomeFornecedor"
              />
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="txtProduto">Produtos</label>
              <select
                class="form-select"
                multiple
                th:field="*{produtosFornecedor}"
              >
                <option
                  th:each="Produtos : ${ListaProdutos}"
                  th:value="${Produtos.cdProduto}"
                  th:text="${Produtos.nomeProduto}"
                ></option>
              </select>
            </div>
          </div>
        </div>

        <div class="form-group my-3">
          <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
      </form>
    </main>
    <div th:include="layout :: footer">(footer)</div>
  </body>
</html>
