<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
  <head th:include="layout :: htmlhead"></head>
  <body>
    <nav th:replace="layout :: menu">(menu)</nav>
    <main>
      <div class="container">
        <h1>Fornecedores</h1>
        <hr />
        <a th:href="@{/fornecedores/novo}" class="btn btn-dark">Novo</a>
        <div class="table-responsive">
        <table class="table table-hover table-bordered my-2" id="tabfornecedor">
          <tread>
            <tr class="table-dark text-center">
              <th>Código</th>

              <th>Nome</th>

              <th>Produtos</th>

              <th>Alterar</th>

              <th>Excluir</th>
            </tr>
            <tbody>
              <tr class="text-center" th:each="umFornecedor : ${listaFornecedores}">
                <td th:text="${umFornecedor.cdFornecedor}"></td>
                <td th:text="${umFornecedor.nomeFornecedor}"></td>
                <td>
                  <ul>
                      <li th:each="produto : ${umFornecedor.produtosFornecedor}">
                          <span th:text="${produto.cdProduto + ' - ' + produto.nomeProduto}"></span>
                      </li>
                  </ul>
              </td>
                <td>
                  <a
                    class="btn btn-primary"
                    th:href="@{'/fornecedores/alterar/' + ${umFornecedor.cdFornecedor}}"
                    >Alterar
                  </a>
                </td>
                <td>
                  <button   th:data-id="${umFornecedor.cdFornecedor}" class="btn btn-danger js-delete">Excluir</button>
                </td>
              </tr>
            </tbody>
          </tread>
        </table>
        </div>
      </div>
    </main>

    <div class="modal" tabindex="-1" id="modalfornecedor">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Excluir fornecedor</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <p>Ação irreverssivel, continuar ?</p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Não
            </button>
            <button type="button" class="btn btn-primary" id="btnsim">
              Sim
            </button>
          </div>
        </div>
      </div>
    </div>
    <div th:include="layout :: footer">(footer)</div>
    <script th:src="@{/script.js}"></script>
  </body>
</html>
