<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head th:include="layout :: htmlhead"></head>
  <body>
    <nav th:replace="layout :: menu">(menu)</nav>
    <main >
      <div
        id="toast-container"
        aria-live="polite"
        aria-atomic="true"
        class="position-absolute end-0 bottom-0"
      >
        <div class="toast-container top-0 end-0 p-3">
          <div
            class="toast align-items-center text-white bg-danger border-0"
            role="alert"
            aria-live="assertive"
            aria-atomic="true"
          >
            <div class="d-flex">
              <div class="toast-body">
                <span th:text="${excecao}"></span>
              </div>
              <button
                type="button"
                class="btn-close btn-close-white me-2 m-auto"
                data-bs-dismiss="toast"
                aria-label="Close"
              ></button>
            </div>
          </div>
        </div>
      </div>

      <div class="container " style="">
        <h1>Home</h1>
        <div class="card" style="width: 18rem;">
          <img src="icons\mapa.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Endereço</h5>
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        
          
      </div>
    </main>
    

    <div th:include="layout :: footer">(footer)</div>
  </body>
</html>
<script th:if="${not #strings.isEmpty(excecao)}">
  // JavaScript para ativar o Toast se houver uma mensagem de erro
  document.addEventListener("DOMContentLoaded", function () {
    var myToast = new bootstrap.Toast(document.querySelector(".toast"));
    myToast.show();
  });
 
</script>