<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <head th:include="layout :: htmlhead"></head>
  <body>
    <nav th:replace="layout :: menu">(menu)</nav>
    <main>
      <div
        id="toast-container"
        aria-live="polite"
        aria-atomic="true"
        class="position-absolute end-0 bottom-0"
      >
        <div class="toast-container top-0 end-0 p-3">
          <div
            class="toast align-items-center text-white bg-danger border-0"
            role="alert"
            aria-live="assertive"
            aria-atomic="true"
          >
            <div class="d-flex">
              <div class="toast-body">
                <span th:text="${excecao}"></span>
              </div>
              <button
                type="button"
                class="btn-close btn-close-white me-2 m-auto"
                data-bs-dismiss="toast"
                aria-label="Close"
              ></button>
            </div>
          </div>
        </div>
      </div>

      <div class="container text-center" style="">
        <h1>Sua entrega no tempo necessário</h1>
        <div class="card card-group align-items-center row" style="padding: 5px">
          <div class="card col-sm-2" >
            <img src="icons\mapa.png" class="card-img-top" alt="..." />
            <div class="card-body text-center">
              <h5 class="card-title text-center">Endereço</h5>
              <p class="card-text"></p>
              <a href="/enderecosentrega" class="btn btn-secondary">lista</a>
              <a href="/enderecosentrega/novo" class="btn btn-success"
                >Cadastrar</a
              >
            </div>
          </div>
          <div class="card col-sm-2" >
            <img src="icons\cliente.png" class="card-img-top" alt="..." />
            <div class="card-body text-center">
              <h5 class="card-title text-center">Cliente</h5>
              <p class="card-text"></p>
              <a href="/clientes" class="btn btn-secondary">lista</a>
              <a href="/clientes/novo" class="btn btn-success"
                >Cadastrar</a
              >
            </div>
          </div>

          <div class="card col-sm-2" >
            <img src="icons\notafiscal.png" class="card-img-top" alt="..." />
            <div class="card-body text-center">
              <h5 class="card-title text-center">Nota Fiscal</h5>
              <p class="card-text"></p>
              <a href="/notasfiscal" class="btn btn-secondary">lista</a>
              <a href="/notasfiscal/novo" class="btn btn-success"
                >Cadastrar</a
              >
            </div>
          </div>

          <div class="card col-sm-2" >
            <img src="icons\registro.png" class="card-img-top" alt="..." />
            <div class="card-body text-center">
              <h5 class="card-title text-center"> Amarzenamento</h5>
              <p class="card-text"></p>
              <a href="/registrosarmazenamento" class="btn btn-secondary">lista</a>
              <a href="/registrosarmazenamento/novo" class="btn btn-success"
                >Cadastrar</a
              >
            </div>
          </div>
          
          <div class="card col-sm-2" >
            <img src="icons\dacte.png" class="card-img-top" alt="..." />
            <div class="card-body text-center">
              <h5 class="card-title text-center">Dacte</h5>
              <p class="card-text"></p>
              <a href="/dactes" class="btn btn-secondary">lista</a>
              <a href="/dactes/novo" class="btn btn-success"
                >Cadastrar</a
              >
            </div>
          </div>
         
          
          <div class="card col-sm-2" >
            <img src="icons\situacao.png" class="card-img-top" alt="..." />
            <div class="card-body text-center">
              <h5 class="card-title text-center">Situação</h5>
              <p class="card-text"></p>
              <a href="/situacoens" class="btn btn-secondary">lista</a>
              <a href="/situacoens/novo" class="btn btn-success"
                >Cadastrar</a
              >
            </div>
          </div>
         
        </div>
       
       
      </div>
      </div>
    </main>

    <div th:include="layout :: footer">(footer)</div>
  </body>
</html>
<script th:if="${not #strings.isEmpty(excecao)}">
  // JavaScript para ativar o Toast se houver uma mensagem de erro
  document.addEventListener("DOMContentLoaded", function () {
    var myToast = new bootstrap.Toast(document.querySelector(".toast"));
    myToast.show();
  });
</script>
